<form class="addsection-form" [formGroup]="sectionForm" (ngSubmit)="sectionForm.valid && onFormSubmit(sectionForm.value)"
  #f="ngForm">
  <div class="example-container">
    <div mat-dialog-title class="section-header">
      Sections
    </div>
       <mat-form-field>
      <input matInput placeholder="Section Name" formControlName="section" name="section">
      <mat-error>
        This is required field
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput placeholder="Project Id" formControlName="pid" name="pid">
      <mat-error>
        This is required field
      </mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <input matInput placeholder="CId" formControlName="cid" name="cid" value="1">
      <mat-error>
        This is required field
      </mat-error>
    </mat-form-field> -->
    <div class="section-footer">
      <span class="mr-10">
        <button type="submit" color="primary" mat-raised-button mat-button>Save</button>
      </span>
      <button mat-button color="primary" type="button" (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</form>
