<mat-list [ngClass]="status ? 'open-side-nav' : 'close-side-nav'">
  <mat-list-item class="side-nav-list-item" (click)="status=!status">
    <div matLine>
      <a style="color:gray;" title="Home">
        <span class="material-icons" style="font-size: 22px; position: absolute;">menu</span>
        <span style="font-size: 15px; margin-left: 30px">
        </span></a>
    </div>
  </mat-list-item>
  <mat-list-item *ngFor="let item of navItems" class="side-nav-list-item" routerLink="{{item.route}}">
    <div matLine>
      <a  style="color:gray;" title="{{item.displayName}}">
        <span class="material-icons" style="font-size: 22px; position: absolute;">{{item.iconName}}</span>
        <span style="font-size: 15px; margin-left: 30px">
          {{item.displayName}} </span></a>
    </div>
  </mat-list-item>
</mat-list>

<mat-menu #analystMenu="matMenu">
  <button mat-menu-item style="line-height: 0px;height: 35px;">Select Project</button>
  <button mat-menu-item *ngFor="let prj of projects" style="line-height: 0px;height: 25px;" (click)="onPID_Change(prj.ID ,$event)">{{prj.ID + ': ' + prj.Project}}</button>
</mat-menu>

