<div class="form-container">

  <div class="pb-13 adc-buttons">
    <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none" >
    <button color="primary" (click)="fileUpload.click()" mat-raised-button mat-button>Import excel</button>
    <button color="primary" class="ml-13" (click)="importExcelByFilePath()" mat-raised-button mat-button>Import excel by path</button>
    <button color="primary" class="ml-13" (click)="clear()" mat-raised-button mat-button>Clear</button>
  </div>

  <mat-divider></mat-divider>
  <div class="grid-wrapper">

    <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham" [gridOptions]="gridOptions" rowSelection="multiple">
    </ag-grid-angular>

  </div>
</div>
