<div class="form-container">



  <div class="pb-13 adc-buttons">
<mat-select placeholder="4 M Category" style="width:11%" (selectionChange)="onCategoryDdlChange($event.value)"  [(ngModel)]="categoryID" name="CategoryID">
<mat-option [value]="0">--Select Category--
</mat-option>
  <mat-option *ngFor="let item of resourceCategory" [value]="item.CategoryID">{{item.CategoryID}}: {{item.CategoryName}}
  </mat-option>
</mat-select>
  <button color="primary" class="ml-13"  mat-raised-button mat-button>Format excel</button>

    <input #fileUpload type="file" class="ml-13" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none">
    <button color="primary" class="ml-13" (click)="fileUpload.click()" mat-raised-button mat-button>Import excel</button>
    <button color="primary" class="ml-13" (click)="insertBulk()" mat-raised-button mat-button>Insert bulk</button>
    <button color="primary" class="ml-13" (click)="clear()" mat-raised-button mat-button>Clear</button>
  </div>

  <mat-divider></mat-divider>
  <!-- <div class="grid-wrapper">

    <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham" [gridOptions]="gridOptions" rowSelection="multiple">
    </ag-grid-angular>

  </div> -->

      <div class="grid-wrapper">
        <ag-grid-angular #agGrid  style="width: 100%; height: 500px;" class="ag-theme-balham"  [enableSorting]="true"
          [enableFilter]="true"  [gridOptions]="gridOptions" [animateRows]="true"  
          rowSelection="multiple" [enableRangeSelection]="true"  [enableColResize]="true" 
          [defaultColDef]="defaultColDef" >
        </ag-grid-angular>
      </div>
</div>