<div class="form-container">

  <div class="pb-13 adc-buttons">
    <button color="primary" (click)="openDialog()" mat-raised-button mat-button>Add New</button>
    <button color="warn" class="ml-13" mat-raised-button mat-button>Delete</button>
  </div>

  <mat-divider></mat-divider>
  <div class="grid-wrapper">

    <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-balham" [gridOptions]="gridOptions"
      rowSelection="multiple">
    </ag-grid-angular>

  </div>
</div>