<div class="form-container">
    <div class="pb-13 adc-buttons">
        <button color="primary" mat-raised-button mat-button (click)="addRepeatTask()">Add Repeate Task</button>
        <button color="primary" class="ml-13" mat-raised-button mat-button (click)="AddBulkTask()">Add Bulk Task</button>
    </div>
    <div>
        <!-- style="float: right; width: 80%; height: 80%" -->
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid id="myGrid" style="width: 100%; height: 650px;" class="ag-theme-balham" [rowData]="rowData"
                [enableSorting]="true" [enableFilter]="true" [columnDefs]="columnDefs" [rowData]="rowData"
                [animateRows]="true" rowSelection="multiple" [enableRangeSelection]="true" [statusBar]="statusBar"
                [sideBar]="true" [masterDetail]="true" [detailCellRendererParams]="detailCellRendererParams"
                [getRowHeight]="getRowHeight" [isRowMaster]="isRowMaster" [isFullWidthCell]="isFullWidthCell"
                [enableColResize]="true" [frameworkComponents]="frameworkComponents" [defaultColDef]="defaultColDef"
                (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)">
            </ag-grid-angular>
            
        </div>
    </div>
</div>