<form class="addsection-form" [formGroup]="taskForm" (ngSubmit)="taskForm.valid && onFormSubmit(taskForm.value)"
  #f="ngForm">
  <div class="example-container">
    <div mat-dialog-title class="section-header">
      Add Task
    </div>
    <mat-form-field>
      <input matInput placeholder="Task Name" formControlName="taskName" name="taskName">
      <mat-error>
        This is required field
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Task Description" formControlName="taskDesc" name="taskDesc">
        <mat-error>
          This is required field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Quantity" formControlName="quantity" name="quantity">
        <mat-error>
          This is required field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Task Ref No" formControlName="taskRefNo" name="taskRefNo">
        <mat-error>
          This is required field
        </mat-error>
      </mat-form-field>
   
    <div class="section-footer">
      <span class="mr-10">
        <button type="submit" color="primary" mat-raised-button mat-button>Save</button>
      </span>
      <button mat-button color="primary" type="button" (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</form>