<div style=" display: flex; width: 100%; height: 100%;">
    <div>
        <app-header></app-header>
    </div>
    <div class="side-nav-container">
        <app-sidenav></app-sidenav>
    </div>
    <div style="width: 100%; margin-top: 40px;">
        <router-outlet></router-outlet>
    </div>
</div>