<div class="form-container">

    <div class="pb-13 adc-buttons">
      <button color="primary" mat-raised-button mat-button (click)="openDialog()">Add New</button>
      <button color="warn" mat-raised-button mat-button (click)="deleteSection()" style="margin-left: 13px">Delete</button>
    </div>

    <mat-divider></mat-divider>
    <div class="grid-wrapper">

      <ag-grid-angular #agGrid style="width: 100%; height: 500px;"
      class="ag-theme-balham" [gridOptions]="gridOptions">
      </ag-grid-angular>

    </div>
</div>