<form [formGroup]="resourceForm" #f="ngForm" (ngSubmit)="resourceForm.valid && onFormSubmit(resourceForm.value)">
  <div >
    <div mat-dialog-title class="section-header">
      Add Resource
    </div>
    <div class="row scroll">
    <div class="col-md-6">
          <mat-list class="mat-radio-label-content">
              
              <mat-radio-group  (change)="onGdsSvcDdlChange($event.value)" formControlName="GS" >
                  <mat-radio-button  *ngFor="let item of goodsService" [value]="item.GS">
                      {{item.gsName}}</mat-radio-button>
                      
            </mat-radio-group>
          </mat-list>
     
        <mat-form-field>
          <mat-select placeholder="4 M Category" (selectionChange)="onCategoryDdlChange($event.value)" formControlName="CategoryID" name="CategoryID">
            <mat-option  *ngFor="let item of resourceCategoryFiltered" [value]="item.CategoryID">{{item.CategoryID}}: {{item.CategoryName}}
            </mat-option>
          </mat-select>
          <mat-error>
            This is required field
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Goods Groups"  (selectionChange)="onGoodsGroupChange($event.value)" [class.select-disabled]="this.resourceForm.controls.GS.value===2" formControlName="gpID1" name="gpID1">
            <mat-option  *ngFor="let item of pMCategoriesFiltered" [value]="item.catID">{{item.catID}}: {{item.CatName}}
            </mat-option>
          </mat-select>
          <mat-error>
            This is required field
          </mat-error>
          <label for="gpID1" class="label" >{{GoodsLabel}}</label>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Service Groups" [class.select-disabled]="this.resourceForm.controls.CategoryID.value===2 && this.resourceForm.controls.GS.value===1" (selectionChange)="onServiceGroupChange($event.value)" formControlName="gpID2" name="gpID2">
              <mat-option  *ngFor="let item of pMServiceCategoriesFiltered" [value]="item.catID">{{item.catID}}: {{item.CatName}}
              </mat-option>
            </mat-select>
            <mat-error>
              This is required field
            </mat-error>
            <label for="gpID2" class="label" >{{ServiceLabel}}</label>
          </mat-form-field>
      
        <mat-form-field>
            <input matInput placeholder="Item/Resource Name" formControlName="ResourceName" name="ResourceName">
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Make/Brand/Specification" formControlName="ResourceMake" name="ResourceMake"></textarea>
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
         
      </div> 
      <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Rate(Rate per use/unit)" formControlName="ResourceRate" name="ResourceRate">
  
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Basic Rate" formControlName="ResourceBasicRate" name="ResourceBasicRate">
  
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Lead in Km"  [readonly]="disableLead || this.resourceForm.controls.CategoryID.value===3 || 
            this.resourceForm.controls.CategoryID.value===4" formControlName="ResourceLead" name="ResourceLead">
  
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Lead Rate(per Km)" [readonly]="disableLead || this.resourceForm.controls.CategoryID.value===3 || 
            this.resourceForm.controls.CategoryID.value===4" formControlName="ResourceLeadRate" name="ResourceLeadRate">
  
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Fuel Consumption (LPH)" [readonly]="disableLPH || this.resourceForm.controls.CategoryID.value===3 || 
            this.resourceForm.controls.CategoryID.value===4" formControlName="ResourceLPH" name="ResourceLPH">
  
            <mat-error>
              This is required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Delivery Days" formControlName="DeliveryDays" name="DeliveryDays">
              <mat-error>
                This is required field
              </mat-error>
            </mat-form-field>
         
        </div>
      <div class="col-md-3">
          <mat-form-field>
              <mat-select placeholder="Bulk Density" formControlName="duID" [class.select-disabled]="densityOn" [disabled]=" densityOn" name="duID">
                <mat-option *ngFor="let item of DerivedUnitTypes" [value]="item.DUTId">{{item.DUTId}}: {{item.DUTName}}
                </mat-option>
              </mat-select>
              <mat-error>
                This is required field
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Value(Kg/Cum)" formControlName="PropValue" [readonly]=" densityOn" name="PropValue">
              <mat-error>
                This is required field
              </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Usage Classification" formControlName="clsID" [class.select-disabled]="this.resourceForm.controls.clsID.value===4"  [disabled]="this.resourceForm.controls.clsID.value===4" name="clsID">
                  <mat-option *ngFor="let item of classingMasterFiltered" [value]="item.clsID">{{item.clsID}}: {{item.clsName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  This is required field
                </mat-error>
              </mat-form-field>
              <mat-form-field>
             <mat-select placeholder="Ease of Theft(1-10)" formControlName="rnkID"   name="rnkID">
                      <mat-option *ngFor="let item of RnkIds" [value]="item">{{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Stock Check Frequency"  formControlName="verID" name="verID">
                  <mat-option *ngFor="let item of BillGenType" [value]="item.typeID">{{item.typeID}}: {{item.typeName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  This is required field
                </mat-error>
              </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Unit of Measurement" formControlName="ResourceUnit" [class.select-disabled]="disableResourceUnit"  [disabled]="disableResourceUnit"  name="ResourceUnit">
            <mat-option *ngFor="let item of userService.units" [value]="item.ID">{{item.ID}}: {{item.Unit}}
            </mat-option>
          </mat-select>
          <mat-error>
            This is required field
          </mat-error>
        </mat-form-field>
      </div>
      
    </div>
    <div class="section-footer">
      <span class="mr-10">
        <button type="submit" color="primary" mat-raised-button mat-button>Save</button>
      </span>
      <button mat-button color="primary" type="button" (click)="closeDialog()">Cancel</button>
    </div>

  </div>

</form>