
mat-form-field{
    width: 100%;
}


// .scroll {
//     height: 500px;
//     overflow-y: auto;
   
// }
.mat-radio-label-content {
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-left: 9px;
  padding-right: 6px;
   ;
}




// .col-md-6 ,.col-md-3{
//   padding-top: 17px;
// }
.pt-13 {
  padding-top: 8px;
  margin-bottom: 10px;
}
  .label {
     font-size: 11px;
   
    color: cornflowerblue;
    white-space: initial;
  }
  .radio-button-label {
    margin-right: 0;
    color: #818190;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 10px;
    font-size: 12px;
}
input[readonly] { 
    background: #CCC; 
    color: #333; 
   
}
.select-disabled { 
  background: #CCC; 
  color: #333; 
 
}




