/* You can add global styles to this file, and also import other style files */
$ag-icons-path:"../node_modules/ag-grid-community/src/styles/icons/";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import '../node_modules/ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0;
    //  font-family: Roboto, "Helvetica Neue", sans-serif;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
     }

.form-div-container{
    border: 1px solid rgba(0,0,0,.03);
        box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
        margin: 10px;
        padding: 13px;
    }

    .form-container{
            padding: 13px;
        }

.example-container{
    height:100%;
}

.mr-10{
    margin-right: 10px;
}
.mb-13{
    margin-bottom: 13px;
}

.ml-13{
    margin-left: 13px !important;
}
.mr-13{
    margin-right: 13px !important;
}

.pt-13{
    padding-top: 13px;
}
.side-nav-list-item:hover{
    background: #e4e6e6;
    cursor: pointer;
}

.pb-13{
    padding-bottom: 13px;
    }
    
    
.pb-5{
    padding-bottom: 5px;
    }

    
.padding-13{
    padding: 13px;
}

.open-side-nav{
    width: 175px !important;
}

.close-side-nav{
    width: 50px;
}

.side-nav-container{
    border-right: 1px solid rgba(0,0,0,.03);
        box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
        margin-top: 35px;
    }

    .mat-menu-content{
        max-height: 450px !important;
       }


       .adc-buttons > button{
        height: 23px;
        line-height: 1;
        font-size: 11px;
      }
     
      .project-ddl .mat-select-value, .project-ddl .mat-select-arrow {
    color: #ffffff !important;
     }

  .project-ddl .mat-form-field-underline{
    background-color: #ffffff !important;
  }

  .project-ddl .mat-option-text{
      height: 30px !important;
  }
  
  .adc-header .mat-form-field-infix
  {
    margin-top: -7px;
  }

  .adc-header .mat-form-field-wrapper{
      margin-bottom: -7px;
  }
 
  .mat-select-panel .mat-option{
    height: 23px !important;
  }
  
.mat-select-panel{
    max-height: 450px !important;
}

.section-header{
    font-size: 19px;
    background: #465294;
    color: white;
    padding: 8px 15px;
    margin: 0px -15px;
    margin-bottom: 7px;
}

mat-dialog-container{
    padding: 0px 15px !important;
}

.section-footer{
        background: #eee;
        margin: 0px -15px;
        padding: 13px 15px;
        border-top: 1px solid #ddd
}