

.adc-header {
    overflow: hidden;
    background: #465294;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    font-size: 14px;
  }
  
  .adc-header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .adc-header a:hover {
    color: #fca400;
    background: rgba(0,0,0,.1);
  }
   
  .mat-select-arrow{
    color: #ffffff;
  }

  .current-menu {
    float: left;
    color: #ffff;
    padding: 10px;
  }