<div class="adc-header">
  <div class="current-menu">Current Menu :<span style="color:#f9ff00"> {{currentMenu}}</span></div>
  <div style="float:right">
    <mat-form-field class="project-ddl mr-13">
      <mat-select [(value)]="selectedValue">
        <mat-option value="-1">Select Project</mat-option>
        <mat-option *ngFor="let prj of projects" value="{{prj.ID}}" (click)="onPID_Change(prj.ID ,$event)">{{prj.ID +
          ': ' + prj.Project}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>