﻿<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="topmenu.ascx.cs" Inherits="SD.COMMON.topmenu" %>
<table style="width: 100%"> 
    <tr> <td> <asp:Panel ID="pnltopmenu" CssClass="topmenu" runat="server" Width="100%"> </asp:Panel> </td> </tr> 
</table>
