﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WorkFlow.aspx.cs" Inherits="SD.Templates.WorkFlow" %>
<%--<%@ Register Src="ucProcess_3.ascx" TagName="ucProcess_3" TagPrefix="ucProcess_3" %>--%>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
        
    <form id="form1" runat="server">
         <asp:ScriptManager ID="ScriptManager1" runat="server" EnableCdn="true">
        </asp:ScriptManager>
    <div>
  <%--   <ucProcess_3:ucProcess_3 ID="Process" runat="server" />--%>
    </div>
    </form>
</body>
</html>
